# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/key.jks

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Pods/
macos/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Logs
*.log
